<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:sws="http://www.springframework.org/schema/web-services"
		xmlns:jdbc="http://www.springframework.org/schema/jdbc"
		xmlns:jms="http://www.springframework.org/schema/jms"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/web-services
							http://www.springframework.org/schema/web-services/web-services-2.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-3.0.xsd
							http://www.springframework.org/schema/jdbc 
							http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
							http://www.springframework.org/schema/jms 
							http://www.springframework.org/schema/jms/spring-jms.xsd">


	<context:component-scan base-package="com.test.*" />
	<context:annotation-config/>
	<sws:annotation-driven />

	<!--
		Our test service bean
	-->
	<bean id="GuestDetailsService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition" lazy-init="true">
        <property name="schemaCollection">
            <bean class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
                <property name="inline" value="true" />
                <property name="xsds">
                    <list>
                        <value>schemas/GuestDetailsServiceOperations.xsd</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="portTypeName" value="GuestDetailsService"/>
        <property name="serviceName" value="GuestDetailsServices" />
        <property name="locationUri" value="/endpoints"/>
    </bean>
    
    <jdbc:embedded-database type="H2" id="datasource">
    	<jdbc:script location="classpath:schema.sql"/>
    	<jdbc:script location="classpath:test-data.sql"/>
    </jdbc:embedded-database>
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
		<property name="dataSource" ref="datasource"></property>  
	</bean>  
		
	<bean id="testTopic" class="org.apache.activemq.command.ActiveMQTopic">
    	<constructor-arg value="guestTopic"/>
	</bean>
	
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
    	<property name="brokerURL" value="tcp://localhost:61616"/>
	</bean>
	
	<jms:listener-container connection-factory="connectionFactory" destination-type="topic">
    	<jms:listener destination="guestTopic" ref="topicMessageListener" method="onMessage"/>
  	</jms:listener-container>
  	
  	<bean id="topicMessageListener" class="org.test.jms.GuestServiceListener"/>
  	<bean id="topicMessageProducer" class="org.test.jms.GuestServiceProducer"/>
	
	<bean id="jmsTopicTemplate" class="org.springframework.jms.core.JmsTemplate">
    	<property name="connectionFactory" ref="connectionFactory"/>
    	<property name="pubSubDomain" value="true"/>
	</bean>
	
</beans>